.SummaryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.SummaryContent {
  background: var(--white);
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0,0,0,0.3);
  text-align: center;
}
.Controls {
  padding: 1rem;
  height: 30vh;
  border-top: 0.2rem solid var(--theme);
  box-shadow: 0 -0.24rem 0.5rem 0 var(--shadow);
}

.Controls h3 {
  margin: 0 0 0.5rem;
}

.OptionBtns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
